<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
        </div>
        <ul class="nav">
            <!-- your sidebar here -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" style="color: #000;">
                    {% if app.user %}
                        {{ app.user.name }} {{ app.user.lastName }}
                    {% endif %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('admin_logout')}}">{{ 'logout'|trans }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>