<!-- /#sidebar-wrapper -->
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item active  ">
            <a class="nav-link" href="{{ path('index') }}">
                <i class="material-icons">video_library</i>
                <p>Biblioteca</p>
            </a>
        </li>
    </ul>
</div>